body{
  background: #fff;
}
.kv {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.kv-figure{
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  width: 100%;
  font-size: 64px;
  font-family: 'Doumbar', sans-serif;
}
.kv-figure__capital{
  position: relative;
  width: max-content;
}
.kv-figure__capital span{
  display: inline-block;
  place-items: center;
  transform-style: preserve-3d;
  transition: rotate 0.5s;
  transform-origin: 0 50% -1.5rem;
}
.innovation{
  position: absolute;
  right: 0;
}
.wennovation{
  rotate: x -90deg;
}
.hitori{
  display: flex;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.hitori img{
  width: 100%;
}
@media(max-width:430px){
  .kv-figure__capital{
    width: 39%;
    display: flex;
    align-items: center;
  }
  .kv-figure__capital img {
    width: 100%;
  }
  .innovation{
    width: 44%!important;
    top: 0;
  }
}
@media(min-width:375px) and (max-width:430px){
  .kv-figure__capital{
    width: 34%;
  }
  .innovation{
    width: 42%!important;
    top: 0;
  }
}
@media(min-width:405px) and (max-width:430px){
  .kv-figure__capital{
    width: 30%;
  }
  .innovation{
    width: 42%!important;
    top: 0;
  }
}


/* 1つ目の画像: 下から上へスライドイン */
@keyframes slideUp {
  from {
      transform: translateY(35px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

/* 2つ目の画像: 回転しながらフェードイン */
@keyframes rotateIn {
  from {
      transform: rotate(-180deg) scale(0.5);
      opacity: 0;
  }
  to {
      transform: rotate(0deg) scale(1);
      opacity: 1;
  }
}
